@model List<CatalogoDeLibros.Models.Libro>

<h2>Catálogo de Libros</h2>

<table class="table">
	<thead>
		<tr>
			<th>Título</th>
			<th>Año</th>
			<th>Autor</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var libro in Model)
		{
			<tr>
				<td>@libro.titulo</td>
				<td>@libro.autor</td>
				<td>@libro.anioPublicacion</td>
			</tr>
		}
	</tbody>
</table>