@model CatalogoDeLibros.Models.Libro

<h2>Detalles del Libro</h2>

<div>
	<h3>@Model.titulo</h3>
	<div class="card mb-3" style="max-width: 600px;">
		<p><strong>Autor:</strong> @Model.autor.nombre</p>
		<p><strong>Año de Publicación:</strong> @Model.anioPublicacion</p>
		<a asp-controller="Libro" asp-action="Index" class="btn btn-secondary">Volver al catalogo</a>
	</div>
</div>